body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
  color: #333;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

  background-color: #dcd6f7;
  border: 1px solid #424874;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: cursive;
}

.status {
  text-align: center;
}

.img {
  display: block;
  padding-top: 2px;
  border-radius: 30px;
  margin-left: 550px;
}
.container2 {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 50px;

  background-color: #f4eeff;
  border: 1px solid #868cba;
}
